@charset "UTF-8";
:root {
  --main-color-text: #757575; /* основной цвет текста */
  --title-text-color: #212121; /* Цвет заголовков и навигации */
  --hero-color: #ffffff; /* Hero  color */
  --logo-color: #2196f3; /* основной цвет логотипа */
  --head-logo-color: #000000; /* цвет логотипа щапка */
  --footer-logo-color: #ffffff; /* цвет логотипа подвал*/
  --button-background: #2196f3; /* цвет заливки кнопки */
  --hero-bg-color: #2f303a; /* цвет заливки героя */
  --bg-header: #ffffff; /* BG цвет шапки */
  --bg-footer-hero: #2f3040; /* BG цвет подвала */
  --bg-section: #f5f4fa; /* BG темный цвет секций  */
  --bg-section-light: #e5e5e5; /* BG светлый цвет секций  */
  --nav-hover-color: #2196f3; /* цвет ховера  */
  --address-color: rgba(255, 255, 255, 0.6); /* цвет адреса в подвале  */
  --hover-button: #188ce8;
  --color-border: #eeeeee;
  --bg-portfolio: #ffffff;
  --bg-icon: #f5f4fa;
  --icon-color: #afb1b8;
  --animation-time: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-time-modal: 450ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  margin: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color-text);
  background-color: var(--bg-header);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
button {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 4px;
  font-family: inherit;
  font-size: 16px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0ch;
  transition: background-color var(--animation-time) var(--cubic);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--hover-button);
}

.title,
.section-title {
  color: var(--title-text-color);
}

.main-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  text-decoration: none;
  color: var(--logo-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}
.social-box {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}

.social-box__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  background-color: var(--bg-header);
  transition: color var(--animation-time) var(--cubic), background-color var(--animation-time) var(--cubic);
}
.social-box__link:hover, .social-box__link:focus {
  background-color: var(--nav-hover-color);
}

.social-box__icon {
  width: 20px;
  height: 20px;
}
.social-box__link:hover .social-box__icon, .social-box__link:focus .social-box__icon {
  fill: var(--hero-color);
}

.social-box__link_footer {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--hero-color);
}

.subscribe__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.subscribe__form {
  display: flex;
}

.subscribe__label {
  margin-right: 12px;
}

.subscribe__input {
  display: block;
  width: 358px;
  height: 50px;
  background-color: var(--bg-footer-hero);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding-left: 16px;
}

.subscribe__btn {
  display: flex;
  min-width: 200px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0ch;
  transition: background-color var(--animation-time) var(--cubic);
}
.subscribe__btn:hover, .subscribe__btn:focus {
  background-color: var(--hover-button);
}

.subscribe__btn_icon {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--hero-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity var(--animation-time), visibility var(--animation-time);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.page-nav {
  display: none;
}

.contact-header__list {
  display: none;
}

.logo__header {
  color: var(--head-logo-color);
}

.menu-burger__open {
  line-height: 0;
  border: none;
  border-color: transparent;
  padding: 0;
}

.menu-burger__icon {
  width: 40px;
  height: 40px;
  background-color: #fff;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu_wrapper {
  position: relative;
  padding: 48px 40px;
}

@media screen and (min-width: 768px) {
  .menu-burger__open {
    display: none;
  }
  .page-nav {
    display: block;
  }
  .contact-header__list {
    display: block;
  }
  .page-nav__list {
    display: flex;
    gap: 50px;
  }
  .contact-header__icon_mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--main-color-text);
    transition: fill var(--animation-time) var(--cubic);
  }
  .contact-header__link:focus .contact-header__icon_mail, .contact-header__link:hover .contact-header__icon_mail {
    fill: var(--nav-hover-color);
  }
  .contact-header__icon_phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: var(--main-color-text);
    transition: fill var(--animation-time) var(--cubic);
  }
  .contact-header__link:focus .contact-header__icon_phone, .contact-header__link:hover .contact-header__icon_phone {
    fill: var(--nav-hover-color);
  }
  .page-nav__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
    transition: color var(--animation-time) var(--cubic);
  }
  .page-nav__link:hover, .page-nav__link:focus {
    color: var(--nav-hover-color);
  }
  .contact-header__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color-text);
    transition: color var(--animation-time) var(--cubic);
  }
  .contact-header__link:hover, .contact-header__link:focus {
    color: var(--nav-hover-color);
  }
  .contact-header__link:first-child {
    margin-bottom: 10px;
  }
  .page-nav__link_active {
    color: var(--nav-hover-color);
  }
}
@media screen and (min-width: 1200px) {
  .header__menu {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  header {
    border-bottom: 1px solid var(--color-border);
  }
  .page-nav {
    display: flex;
    align-items: center;
  }
  .logo__box {
    margin-right: 93px;
  }
  .page-nav__list {
    display: flex;
    gap: 50px;
  }
  .contact-header__flex {
    display: flex;
    gap: 50px;
    margin-left: auto;
    align-items: center;
  }
  .page-nav__link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--title-text-color);
    transition: color var(--animation-time) var(--cubic);
  }
  .page-nav__link:hover, .page-nav__link:focus {
    color: var(--nav-hover-color);
  }
  .contact-header__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--main-color-text);
    transition: color var(--animation-time) var(--cubic);
  }
  .contact-header__link:hover, .contact-header__link:focus {
    color: var(--nav-hover-color);
  }
  .contact-header__icon_mail {
    margin-right: 10px;
    width: 16px;
    height: 12px;
    fill: var(--main-color-text);
    transition: fill var(--animation-time) var(--cubic);
  }
  .contact-header__link:focus .contact-header__icon_mail, .contact-header__link:hover .contact-header__icon_mail {
    fill: var(--nav-hover-color);
  }
  .contact-header__icon_phone {
    margin-right: 10px;
    width: 10px;
    height: 16px;
    fill: var(--main-color-text);
    transition: fill var(--animation-time) var(--cubic);
  }
  .contact-header__link:focus .contact-header__icon_phone, .contact-header__link:hover .contact-header__icon_phone {
    fill: var(--nav-hover-color);
  }
  .page-nav__list_wrapper {
    position: relative;
  }
  .page-nav__link_active {
    color: var(--nav-hover-color);
  }
  .page-nav__link_active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--nav-hover-color);
  }
}
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero__title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  width: 696px;
  border-top: 200px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.overlay__hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #c4c4c4;
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bg-hero.jpg);
  background-position: center;
  background-size: cover;
}

.benefits {
  padding-top: 94px;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.benefits__list {
  display: flex;
  gap: 30px;
}

.benefits__icon {
  display: flex;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-icon);
}

.benefits__icon_antena,
.benefits__icon_clock,
.benefits__icon_diagram,
.benefits__icon_astronaut {
  width: 70px;
  height: 70px;
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__wrapper {
  position: relative;
}

.about__position {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(47, 48, 58, 0.8);
}

.about__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
  background-color: var(--bg-section);
}

.team__box {
  display: flex;
  gap: 30px;
}

.team__list {
  width: 270px;
  border-radius: 0px 0px 4px 4px;
  background-color: var(--bg-header);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card {
  padding: 30px;
}

.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
  color: var(--title-text-color);
}

.team__text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__list {
  display: flex;
  gap: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  fill: var(--icon-color);
  transition: border-color var(--animation-time) var(--cubic);
}
.clients__link:hover, .clients__link:focus {
  border-color: var(--nav-hover-color);
}

.clients__icon {
  fill: var(--icon-color);
  transition: fill var(--animation-time) var(--cubic);
}
.clients__link:hover .clients__icon, .clients__link:focus .clients__icon {
  fill: var(--nav-hover-color);
}

.client__icon_one {
  width: 41px;
  height: 46.7px;
}

.client__icon_two {
  width: 40px;
  height: 52px;
}

.client__icon_three {
  width: 43.46px;
  height: 41.18px;
}

.client__icon_four {
  width: 84.44px;
  height: 40.62px;
}

.client__icon_five {
  width: 62.54px;
  height: 45.43px;
}

.client__icon_sex {
  width: 93.79px;
  height: 43.93px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-footer-hero);
}

.logo__footer {
  color: var(--footer-logo-color);
}

.footer-address {
  margin-right: 70px;
}

.address {
  padding-top: 20px;
  font-style: normal;
  display: block;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}

.address__link {
  color: var(--address-color);
  transition: color var(--animation-time) var(--cubic);
}
.address__link:hover, .address__link:focus {
  color: var(--nav-hover-color);
}

.address__link_maps {
  color: var(--hero-color);
  transition: color var(--animation-time) var(--cubic);
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-social {
  margin-right: 93px;
}

.footer-social__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--animation-time-modal) var(--cubic), visibility var(--animation-time-modal) var(--cubic), transform var(--animation-time-modal) var(--cubic);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow var(--animation-time) var(--cubic);
  padding: 40px;
}

.modal__btn_close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__btn_close:focus, .modal__btn_close:hover {
  fill: var(--logo-color);
}

.modal__icon {
  width: 11px;
  height: 11px;
  transition: fill var(--animation-time) var(--cubic);
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label {
  margin-bottom: 10px;
}

.form__name {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form__wrapper {
  position: relative;
}

.form__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--animation-time) var(--cubic);
}
.form__input::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form__input:focus {
  border-color: var(--logo-color);
  outline: none;
}

.form__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--title-text-color);
  transition: fill var(--animation-time) var(--cubic);
}
.form__input:focus + .form__icon {
  fill: var(--logo-color);
}

.form__label_textarea {
  margin-bottom: 20px;
}

.form__input_checkbox {
  height: 120px;
  resize: none;
  padding: 12px 16px;
}

.form__label_checkbox {
  display: flex;
  align-items: center;
}

.form__input_appearance {
  appearance: none;
}

.form__icon_checkbox {
  display: flex;
  width: 16px;
  height: 15px;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  cursor: pointer;
  transition: border-color var(--animation-time) var(--cubic), background-color var(--animation-time) var(--cubic);
  margin-right: 7px;
}
.form__input_appearance:checked + .form__icon_checkbox {
  background-color: var(--logo-color);
  border-color: var(--logo-color);
}

.form__checkbox_check {
  display: none;
  fill: var(--bg-header);
  transition: fill var(--animation-time) var(--cubic);
}
.form__input_appearance:checked + .form__icon_checkbox .form__checkbox_check {
  display: block;
}

.form__link {
  text-decoration: underline;
  color: var(--logo-color);
  transition: color var(--animation-time) var(--cubic);
}
.form__link:hover, .form__link:focus {
  color: var(--hover-button);
}

.form-btn-submit {
  padding: 10px 32px;
  min-width: 200px;
  align-self: center;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--button-background);
  color: var(--hero-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0ch;
  transition: background-color var(--animation-time) var(--cubic);
}
.form-btn-submit:focus, .form-btn-submit:hover {
  background-color: var(--hover-button);
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-portfolio);
}

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.filter__button {
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border-color: transparent;
  color: var(--title-text-color);
  background-color: var(--bg-section);
  transition: color var(--animation-time) var(--cubic), background-color var(--animation-time) var(--cubic), box-shadow var(--animation-time) var(--cubic);
}
.filter__button:hover, .filter__button:focus {
  background-color: var(--button-background);
  color: var(--hero-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.card-box__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.card-box__link {
  display: block;
  transition: box-shadow var(--animation-time) var(--cubic);
}
.card-box__link:hover, .card-box__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-box__img_wrapper {
  position: relative;
  overflow: hidden;
}

.card-box__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 100%;
  transform: translateY(101%);
  overflow: auto;
  transition: transform var(--animation-time) var(--cubic), box-shadow var(--animation-time) var(--cubic);
  display: block;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
}
.card-box__link:hover .card-box__overlay, .card-box__link:focus .card-box__overlay {
  transform: translateY(0);
}

.card-box__overlay_text {
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-header);
}

.card-name {
  padding: 20px 24px;
  border-left: 1px solid var(--color-border);
  border-right: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
}

.card-name__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.card-name__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-color-text);
}/*# sourceMappingURL=main.css.map */